$ cat .gitattributes
*.go linguist-language=Go
*.md linguist-documentation
*.txt linguist-vendored
*.log linguist-vendored
*.json linguist-vendored
*.sql linguist-vendored
*.sh linguist-vendored
*.db linguist-vendored
